.bg1{
	background-image: url(bg.png);
	background-size: 100% 100%
}
.bg2{
	background-image: url(background1.png);
	background-size: 100% 100%
}
.bg3{
	background-image: url(bg3.png);
	background-size: 100% 100%
}
@font-face {
	font-family: pixel;
	src: url(pixel.ttf);
}
.main{
	width: 1600px;
	height: 900px;

}
.count-box1	 {
	position: absolute;
	width: 285px;
	height: 145px;
	left: 160px;
	top: 755px;
}
.count-box2	 {
	position: absolute;
	width: 285px;
	height: 145px;
	left: 445px;
	top: 755px;
}
.doomguy {
	position: absolute;
	width: 145px;
	height: 145px;
	left: 725px;
	top: 755px;
}
.count-box3	 {
	position: absolute;
	width: 285px;
	height: 145px;
	left: 865px;
	top: 755px;
}
.count-box4	 {
	position: absolute;
	width: 285px;
	height: 145px;
	left: 1140px;
	top: 755px;
}

.count-name {
	color: #c0c0c0;
	text-align: center;
	margin-top: 15px;
	font-family: pixel;
	font-size: 25px;
	text-shadow: black 2px 3px 4px;
}
.body {
	margin: 0;
	font-family: pixel;
	background-color: black
}
.items-box {
	width: 100%
}
.items {
	position: absolute;
}
.m-0 {
	margin: 0
}
.count {
	text-align: center;
	color: #e20403;
	margin: 0;
	text-shadow: black 2px 3px 4px;
	font-size: 40px
}

.winning {
	display: none;
	position: absolute;
	width: 512px;
	height: 321px;
	left: 544px;
	top: 300px;
}
.win {
	width: 512px;
	height: 321px;
	position: absolute;
	left: 544px;
	top: 300px;
	background-image: url(expl.gif);
	background-size: 100% 100%;
	display: none;
}
.lose {
	display: none;
	position: absolute;
	width: 512px;
	height: 321px;
	left: 544px;
	top: 300px;
}
.next{
	width: 250px;
	height: 70px;
	margin: 0 auto;
	background-color: #e20403;
	color: #c0c0c0;
	text-shadow: black 2px 3px 4px;
	text-align: center;
	text-decoration: none
}
.next:hover{
	background-color: #ad0b0a;
}
.target{
	margin: 0;
	margin-left: 50px;
	text-shadow: black 2px 3px 4px;
	color: #c0c0c0;
}